body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #343a40;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../image/Disen.jpg');
  background-repeat:repeat-y;
  background-size: 100% 100%; /* Imagen al 100% del tamaño de la pantalla */
}


.bloque {
  background-color: #19d2f0;
  color: #fff;
  padding: 15px;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.num {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 60px;
  font-weight: bold;
}

.bg-avance {
  background-color: #2c0f54;
}

.bg-avance2 {
  background-color: #19d2f0;
}

.img-avance {
  max-width: 600px;
  margin-top: -70px;

}




.floating-buttons {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 999;
  display: flex;
  gap: 10px;
}

.floating-buttons .btn {
  width: 50px;  /* Ajusta el tamaño del botón según sea necesario */
  height: 50px; /* Ajusta el tamaño del botón según sea necesario */
  padding: 0;   /* Elimina el relleno extra */
  border-radius: 50%; /* Hace que los botones sean circulares */
}

.floating-buttons .btn i {
  color: white;  /* Si quieres cambiar el color del ícono */
}

.floating-buttons .btn:hover {
  transform: translateY(-3px);
}

.overlay-image {
  position: absolute;
  top: 10px;
  left: 40px;
  z-index: 999; /* Asegura que la imagen quede por encima del contenido */
  width: 170px;  /* Ajusta el tamaño según sea necesario */
  height: auto;
}


.video-container {
  position: relative;
  padding-bottom: 56.25%; /* Relación de aspecto 16:9 (9 / 16 = 0.5625) */
  height: 0;
  overflow: hidden;
  max-width: 800px; /* Ancho máximo del contenedor */
  width: 100%; /* Ocupa el 100% del ancho disponible */
  margin: 60px 0 0 auto; /* Centra el contenedor horizontalmente */
}

/* Estilo para el iframe */
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* Media query para hacer que la imagen sea más pequeña en teléfonos */
@media (max-width: 758px) {

  body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../image/bg.jpg');
    background-repeat:repeat-y;
    background-size: 100% 100%; /* Imagen al 100% del tamaño de la pantalla */
  }
  .img-avance {
    max-width: 300px; /* Hace que la imagen sea más pequeña */
    margin-top: 10px;
  }
  
  body {
    background-size: 100% 100%; /* Hace la imagen más pequeña */
    background-position: center; /* Centra la imagen */
    background-repeat: repeat-y;
  }

  .overlay-image {
   
  visibility: collapse;
  }

  .num {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
  }

  .small{
    font-size: 10px;
  }

  .bloque {
    background-color: #19d2f0;
    color: #fff;
    padding: 5px;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }
}



